<h1>New Article</h1>

<%= form_with model: @article do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.rich_text_area :body %>

  </div>

  <div class="form_field">
    <%= form.file_field :image %>
  </div>
  <div class="form-group">
    <%= form.select :category_ids, options_for_select(Category.all.collect{ |e| [e.name, e.id] }),{ :prompt => "Please select"},multiple: true, size: 10 %>
  </div>


  <div>
    <%= form.submit class:"btn btn-info"%>
  </div>
<% end %>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>