<h1>Your Article</h1>
<table class="table table-dark" id="myTable">
  <thead>
  <tr>
    <th scope="col">Title
    <td><%= @article.title %></td></th>
  </tr>
  <tr><td><strong>Categories</strong></td></tr>
 <%@c.each do|n| %>

    <% t=Category.find(n.category_id) %>
    <tr>
      <td><%= t.name%></td>
    <% end %></tr>
  </thead> 

<div class="cat">
    <%= select_tag(:category_ids, options_for_select(Category.all.collect{ |e| [e.name, e.id] }),{ :prompt => "Please select"})%>
</div>


  <tbody>
  </tbody>
 </table>
     <%if @article.image.present? %>
    <div class="container">
        <p>
          <%= image_tag (@article.image) , style:"height:450px; width:330px"%>
        </p>
    </div>
    <%end %>
    <div>
    <p><%= @article.body %></p>
    </div>

      <button class="Like btn btn-info"><%= @likes_count %> Like</button>
<%if user_signed_in?%>
  <%if current_user.id==@article.user_id%>
      <table class ="table table-dark" >
        <tr>
    <td><%=link_to "Edit" ,edit_article_path(@article),class:"btn btn-warning"%></td>
    <td><%=button_to "Delete" ,article_path(@article),method: :delete,class:"btn btn-danger"%>
    </td>
        </tr>
      </table>
    <%end%>
<%end%>




<h2>Comments</h2>
      <%@comment=@article.comments.paginate(page: params[:page])%>
<% @comment.each do |comment| %>


        <table class="table table-dark">
          <thead>
          <tr>
          <td><strong>Commenter</strong></td>
            <td><strong>Comment</strong></td>
          </tr>
          </thead>

           <tr>
          <td><%= comment.commenter %></td>

         <td> <%= comment.body %></td>




  <%if user_signed_in?%>
    <% if current_user && current_user== comment.user %>
 <td> <%= link_to 'Edit Comment',edit_article_comment_path(comment.article , comment),class: "btn btn-primary btn"%></td>
              <td><%= button_to 'Destroy Comment', [comment.article, comment],
              method: :delete,
              data: { confirm: "Are you sure?" ,} ,class:"btn btn-danger"%></td>
      </tr>
    <%end%>
  <%end%>



  <%end %>
      </table>

      <%= will_paginate @comment %>

<h2>Add a comment:</h2>
<%= simple_form_for [ @article, @article.comments.build ] do |form| %>
  <p>
    <%= form.input :commenter %>
  </p>
  <p>
    <%= form.input :body %>
  </p>
  <p>
    <%= form.button :submit,class:"btn btn-info"%>
  </p>


<% end %>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script>
$( document ).ready(function() {
    $(".Like").click(function(){
        $.ajax({
        url: "<%=article_likes_path(@article)%>",
        type: "post",
        data: "",
        success: function(data) {
          $(".Like").html(`${data} like`);
        },
        error: function(data) {

        }
        })
    });
});
</script>
<script>
$( document ).ready(function() {
    $('#category_ids').on('change', function (){
        if($('#category_ids').val() != ''){
          var category_id = $('#category_ids').val()
          $.ajax({
          url: "<%=article_path(@article)%>",
          type: "POST",
          data: {
            "category_id": category_id
            },
          success: function(data) {
           $('#myTable').append(`<tr><td>${data["name"]}</td></tr>`);
          },
          })
        }
    });
});
</script>