<h1>Show page</h1>


attachment attachment--preview attachment--png
<table class="table table-dark">
  <thead>
  <tr>
    <th scope="col">Title</th>
    <th scope="col">Body</th>
  </tr>
  </thead>

  <tbody>
  <tr>
    <td><%= @article.title %></td>
    <td><%= @article.body %></td>
  </tr>
  </tbody>
 </table>

<ul>

<%if user_signed_in?%>
  <%if current_user.id==@article.user_id%>
    <li><%=link_to "Edit" ,edit_article_path(@article) %></li>
    <li><%=button_to "Delete" ,article_path(@article),method: :delete%></li>
    <%end%>
<%end%>

</ul>
        <button class="Like"><%= @likes_count %> Like</button>
<h2>Comments</h2>
<% @article.comments.each do |comment| %>
  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>

  <%if user_signed_in?%>
    <% if current_user && current_user== comment.user %>
  <%= link_to 'Edit Comment',edit_article_comment_path(comment.article , comment)%>
  <%= button_to 'Destroy Comment', [comment.article, comment],
              method: :delete,
              data: { confirm: "Are you sure?" } %>
    <%end%>
  <%end%>
  <%end %>
<h2>Add a comment:</h2>
<%= form_with model: [ @article, @article.comments.build ] do |form| %>
  <p>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script>
$( document ).ready(function() {
    $(".Like").click(function(){
        $.ajax({
        url: "<%=article_likes_path(@article)%>",
        type: "post",
        data: "",
        success: function(data) {
          $(".Like").html(`${data} like`);
        },
        error: function(data) {

        }
        })
    });
});

</script>